.navBar{
  display: flex;
  align-items: center;
  background-color: rgb(3, 54, 66);
}
.logo-div{
  width: 200px;
  
}

.sdgLogo{
  width: 150px;
  
}

.sdg-title{
  flex: 1;

}

.sdgTitle{
  display: inline-block;
  font-size: 17px;
  color: white;
  
}

.navbar-middle{
  flex: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.navbar-right{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}
